<template>
  <span>
    <v-tabs v-model="tab" grow>
      <v-tabs-slider></v-tabs-slider>
      <v-tab> Coins </v-tab>
      <v-tab> Referral Points </v-tab>
    </v-tabs>
    <The-Coins v-if="tab == 0"> </The-Coins>
    <Referral-Points v-if="tab == 1"> </Referral-Points>
  </span>
</template>

<script>
import TheCoins from "./TheCoins.vue";
import ReferralPoints from "./ReferralPoints.vue";

export default {
  data() {
    return {
      tab: 0,
    };
  },
  components: {
    TheCoins,
    ReferralPoints,
  },
};
</script>