<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL"
    data-vanity="kvnsharshavardhan" data-version="v1">
    <a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/kvnsharshavardhan?trk=profile-badge">
    </a>
</div>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL"
    data-vanity="" data-version="v1"> <a class="badge-base__link LI-simple-link"
        href="https://in.linkedin.com/in/kvnsharshavardhan?trk=profile-badge"> </a> </div>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>