<template>
  <v-snackbar top :color="alertColor">
    {{ alertMessage }}
  </v-snackbar>
</template>

<script>
export default {
  props: ["alertType", "alertMessage", "snackBar"],
  computed: {
    alertColor() {
      switch (this.alertType) {
        case 0:
          return "red";
        case 1:
          return "green";
      }
      return "green";
    },
  },
};
</script>